img{
   filter: blur(4px);
  height: 93vh;

}
h1{
  padding: 0;
  margin:0;
  position: absolute;
  left:5%;
  font-family: 'Ubuntu';
  top:10%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #03a9f4, 0 0 12px #03a9f4, 0 0 15px #03a9f4, 0 0 18px #03a9f4, 0 0 21px #03a9f4;

}

@media only screen and (max-width: 480px) {
    #hello{
        font-size: 2.3vh ;
    }

}


#this{
  padding: 0;
  margin:0;
  position: absolute;
  left:5%;
  font-family: "Ubuntu";
  top:19%;
  color: white;
}

#cardim{
  height: 35vh;
  display: block;
  filter: blur(0px);

}

.card{
  color: black;
  width:50vh;
  position: absolute;
left: 90vh;

}

.jumbotron{
  background-image: url('u.jpg');
  background-size: auto;
  font-family: "Ubuntu";

}
