img{
   filter: blur(8px);
  height: 93vh;

}

h1{
  padding: 0;
  margin:0;
  position: absolute;
  left:30vh;;
  font-family: 'Ubuntu';
  font-size: 35px;
  top:100px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px indigo, 0 0 16px indigo, 0 0 20px indigo, 0 0 24px indigo, 0 0 28px indigo;
}

#this{
  padding: 0;
  margin:0;
  position: absolute;
  left:30vh;
  font-size: 30px;
  font-family: "Ubuntu";
  top:155px;
  color: white;
}
