html,body{
  heigth:100%;width:100%;min-height:100%;position:relative;oberflow:hidden;
  color:#ffffff;
}
body {
  background: #45484d; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align:center;
}

.bg {

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

h1
{
  background:linear-gradient(0deg,cyan,purple);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  font-family: serif;
  position: relative;
  left:-3%;
  text-align: center;
}

h3
{
  color: gray;
  font-family: serif;
  text-align: center;
}
h4{
 letter-spacing: 5px;
 text-align: center;
}
.n{
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: olive;
  margin: 0;
}
.n:first-letter {font-size: 200%; color: orange;}

#why{
  font-family: serif;
  margin: 0;
}
.weather-container{
  background: rgba(173,216,230,0);
  text-align: center;

}
#weather{
  font-size: 22px;
  margin: 0;
}
#temp{
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
#cityn{
  font-size: 20px;
  font-family: fantasy;
  font-weight:400;
}

}
.choice{
  text-align: inherit;

}
h3{
  font-weight: bold;
  font-style: italic;
  color: yellow;
}

h1 img{
  margin-bottom: -20px;
  max-width: 150px;
  max-height: 150px ;
}

.button{
  background-color: purple;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  min-width: 200px;
  min-height: 60px;
}
.button a{
  text-decoration: none;
  color: white;
}
.bottomlink{
  padding-bottom: 5px;
}

.bottomlink a {color:yellow;}         /* Unvisited link  */
.bottomlink a:visited {color:yellow;} /* Visited link    */
.bottomlink a:hover {color:cyan;}   /* Mouse over link */
.bottomlink a:active {color:white;}  /* Selected link   */
.bottomlink a:link{text-decoration: none}
small{
  color:#666666;
}

#pen{
  max-width: 100px;
  max-height: 100px ;
}
#per{
  font-style: italic;
  color: cyan;
}

#enter{
  cursor: pointer;
  color: white;
  background-color: blue;
  min-width: 50px;
  min-height: 25px;
  font-size: 20px;
}
#C
{
  min-width: 50px;
  min-height: 25px;
  font-size: 20px;
}
